/*Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {
/*header start*/
.h_left {
    text-align: center;
}
.h_icon ul {
    float: none; 
    text-align: center;
}
.m_nav ul li a {
    margin-left: 12px;
    margin-top: 8px;
}
.btn_h1 {
    margin-left: 10px;
}
/*banner start*/
.b_text {
   padding-left: 0;
   text-align: center;
   padding-bottom: 80px;
}
.b_h1 {
    margin-top: 80px;
    font-size: 35px;
    line-height: 50px;
}
.b_p {
    margin: 24px 0;
}
.btn_start {
    margin-right: 7px;
}
.b_btn {
    padding: 12px 15px;
}
/*logos start*/
.logos {
    padding: 40px 0;
}
.l_text {
    text-align: center;
    padding-bottom: 20px;
}
.logos img{
    margin-top: 20px;
}
}
/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) {
/*header start*/
.h_p {
    font-size: 14px;
}
.h_p1 {
    padding-right: 0;
}
.h_p2 {
    padding-left: 5px;
}
.h_icon ul li i {
    margin-right: 4px;
}
.m_nav ul li {
    margin-top: 10px;
}
/*banner start*/
.b_text{
    margin: 0 60px 100px;
    padding-left: 0;
    text-align: center;
}
.b_h1 {
    margin-top: 100px;
    font-size: 45px;
    line-height: 55.2px;
}
.b_p {
    margin: 24px 0px;
} 
/*logos start*/
.logos {
    padding: 40px 0;
}
.l_text {
    text-align: center;
    padding-bottom: 20px;
} 
}
/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) {
/*header start*/
.m_nav ul li {
    margin-top: 10px;
}
/*banner start*/
.b_text{
    margin: 0 60px 100px;
    padding-left: 0;
    text-align: center;
}
.b_h1 {
    margin-top: 100px;
}
/*logo start*/
.logos {
    padding: 60px 0;
}
.l_text {
    text-align: center;
    padding-bottom: 20px;
}
}
/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) {
/*header start*/
.m_nav ul li a {
    font-size: 14px;
    margin-right: 10px;
} 
/*banner start*/
.b_text {
    padding-left: 35px;
}
.b_h1 {
    margin-top: 170px;
}
/*banner start*/
.logos {
    padding: 60px 0;
}
}
/*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) and (max-width: 1399.98px) {

}

/*Extra extra large devices (large desktops, 1400px and up)*/
@media (min-width: 1400px) {


}